{% extends "base.html" %}
{% block content %}
    <!-- Error page -->
    <section class="error">
        <h3 class="text-color center-align">404</h3>
        <div class="row">
            <div class="text-color col s12 center-align">
                <p>Oh no!!! How have you ended up here... Click the button to go home!</p>
                    <!-- Routing to homepage -->
                    <a href="{{ url_for('home') }}" class="waves-effect waves-light btn">TAKE ME HOME</a>
            </div>
        </div>
    </section>
{% endblock %}