{% extends "base.html" %}

{% block header %}
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}" class="btn waves-effect waves-light">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Login</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <section>
        <div class="intro">
            <div class="row intro-container">
                <div class="col s12 center-align">
                    <h3 class="text-darken-4 center-align about-heading">ABOUT US</h3>
                    <p class="intro-p">As a beautician, you work with a variety of clients who have different preferences when it comes to brow and lash treatments. 
                        It can be difficult to remember all the specific details of each client's preferences, such as the mm of lashes used or the specific shade of 
                        brow tint they prefer. This is where a website like GlamFiles can be incredibly useful.</p>
                    <p class="about-p">Reasons to use GlamFiles:</p>
                    <ul class="about-li">
                        <li>Keep client information such as email and phone number secure.</li>
                        <li>Store specfic client data such as mm's of lashes used and brow colour used.</li>
                        <li>Can easily update, edit and delete clients when needed.</li>
                    </ul>
                    <p class="intro-p">By keeping track of this information on GlamFiles, you can easily refer back to it before each appointment, ensuring that you provide a consistent 
                        and high-quality service to your clients. You can also use the platform to send appointment reminders and track client communication, making it a 
                        one-stop-shop for all your beauty business needs.</p>
                </div>
                <div class="row">
                    <a href="{{ url_for('register') }}" class="waves-effect waves-light btn">Create Account</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}