<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" href="data:,">
    <title>Glam Files</title>

</head>

<body>

    <header>
        <!-- fixed navbar -->
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
                <ul class="right">
                    {% block header %}{% endblock %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer brown darken-1 smaller-footer center-align" style="position: fixed; bottom: 0; width: 100%;">
        <div class="container footer-width">
            <div class="row valign-wrapper">
                <div class="logo" alt="Glam Files Logo"></div>
                <nav class="transparent z-depth-0 desktop-view">
                    <div class="nav-wrapper">
                        <ul class="right">
                            <li><a class="footer-nav" href="{{ url_for('home') }}">Home</a></li>
                            <li><a class="footer-nav" href="{{ url_for('about') }}">About Us</a></li>
                            <li><a class="footer-nav" href="{{ url_for('get_all_clients') }}">Clients</a></li>
                            <li><a class="footer-nav" href="{{ url_for('new_client') }}">New Client</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </footer>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

</body>
</html>