{% extends 'base.html' %}
{% block content %}

<div>
    <div class="container">
        <h3 class="brown-text text-darken-4 center-align">Clients</h3>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for client in clients %}
            <div class="col mb-3">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ client.name }}</h5>
                    <p class="card-text">
                    {% if client.lashes %}
                        <b>Lash:</b> {{ client.lashes[0].style }}, {{ client.lashes[0].length }}"
                    {% endif %}
                    {% if client.brows %}
                        <br><b>Brow:</b> {{ client.brows[0].style }}
                    {% endif %}
                    </p>
                    <a href="{{ url_for('add_client', client_id=client.id) }}" class="btn btn-primary">Edit</a>
                </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

