{% extends 'base.html' %}

{% block header %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="btn waves-effect waves-light">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Login</a>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container highlight" style="width: 100%">
    <h3 class="brown-text text-darken-4 center-align">Clients</h3>
    <hr>
    <div class="row">
      {% for client in clients %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ client.name }}</span>
                    <p>
                        {% if client.lashes %}
                        <b>Lash:</b> {{ client.lashes[0].style }}, {{ client.lashes[0].length }}"
                        {% endif %}
                        {% if client.brows %}
                        <br><b>Brow:</b> {{ client.brows[0].style }}
                        {% endif %}
                    </p>
                </div>
                <div class="row center-align">
                    <div class="card-action col offset-s3">
                    <a href="{{ url_for('new_client', client_id=client.id) }}" class="btn">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  

{% endblock %}

