{% extends "base.html" %}

{% block header %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="btn waves-effect waves-light">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Login</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="highlight">
    <div class="container">
        <h3 class="brown-text text-darken-4 center-align">Edit Client</h3>
        <hr>
        <form method="POST" action="{{ url_for('update_client', client_id=client.id) }}">
            <div class="form-group">
              <label class="titles" for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ client.name }}" required>
            </div>
            <div class="form-group">
              <label class="titles" for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ client.email }}" required>
            </div>
            <div class="form-group">
              <label class="titles" for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" value="{{ client.phone }}" required>
            </div>
            <div class="form-group">
              <label class="titles" for="lash_type">Lashes Type</label>
              <select class="form-control" id="lash_type" name="lash_type">
                  <option selected disabled>Select Option Here</option>
                  <option value="classic" {% if client.lash_type == 'classic' %}selected{% endif %}>Classic</option>
                  <option value="hybrid" {% if client.lash_type == 'hybrid' %}selected{% endif %}>Hybrid</option>
                  <option value="russian" {% if client.lash_type == 'russian' %}selected{% endif %}>Russian</option>
              </select>
              </div>
              <div class="form-group">
                <label class="titles" for="lash_notes">Lashes Notes</label>
                <textarea class="form-control" id="lash_notes" name="lash_notes">{{ client.lash_notes }}</textarea>
              </div>
              <div class="form-group">
                <label class="titles" for="brow_type">Brows Type</label>
                <select class="form-control" id="brow_type" name="brow_type">
                    <option selected disabled>Select Option Here</option>
                    <option value="brow_tint" {% if client.brow_type == 'brow_tint' %}selected{% endif %}>Brow & Tint</option>
                    <option value="lamination" {% if client.brow_type == 'lamination' %}selected{% endif %}>Lamination</option>
                </select>
              </div>
              <div class="form-group">
                <label class="titles" for="brow_notes">Brows Notes</label>
                <textarea class="form-control" id="brow_notes" name="brow_notes">{{ client.brow_notes }}</textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>



{% endblock %}