{% extends "base.html" %}

{% block header %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="btn waves-effect waves-light">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Login</a>
    {% endif %}
{% endblock %}

{% block content %}
{% for client in clients %}

<div class="container highlight" style="width: 100%">
        <h1>Add Treatment</h1>
        <label for="client_id">Client</label>
        <span class="card-title">{{ client.name }}</span> 
        <form method="POST" action="{{ url_for('create_treatment', client_id=client_id) }}">
            <input type="hidden" name="client_id" value="{{ client.id }}">
            <div class="form-group">
            <label for="lash_type">Lashes Type</label>
            <select class="form-control" id="lash_type" name="lash_type">
                <option value="classic">Classic</option>
                <option value="hybrid">Hybrid</option>
                <option value="russian">Russian</option>
            </select>
            </div>
            <div class="form-group">
            <label for="lash_notes">Lashes Notes</label>
            <textarea class="form-control" id="lash_notes" name="lash_notes"></textarea>
            </div>
            <div class="form-group">
            <label for="brow_type">Brows Type</label>
            <select class="form-control" id="brow_type" name="brow_type">
                <option value="brow_tint">Brow & Tint</option>
                <option value="lamination">Lamination</option>
            </select>
            </div>
            <div class="form-group">
            <label for="brow_notes">Brows Notes</label>
            <textarea class="form-control" id="brow_notes" name="brow_notes"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

{% endfor %}
{% endblock %}