{% extends "base.html" %}

{% block header %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="btn waves-effect waves-light">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Login</a>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container highlight" style="width: 100%">
    <div class="row">
        <h3 class="brown-text text-darken-4 center-align">Add Treatment</h3>
        <hr>
        <form method="POST" action="{{ url_for('new_treatment') }}">
            <select id="treatment-type" name="type">
                <option value="">Select Treatment Type</option>
                <option value="L">Lashes</option>
                <option value="B">Brows</option>
                <option value="BL">Both</option>
            </select>

            <div id="lashes-options" style="display: none;">
                <h4 class="brown-text text-darken-4 left-align">Lashes Options</h4>
                <select id="lash-type" name="lash_type">
                    <option value="">Select Lash Type</option>
                    <option value="L1">Classic</option>
                    <option value="L2">Hybrid</option>
                    <option value="L3">Wispy</option>
                </select>
                <textarea id="notes" name="notes" placeholder="Add Notes"></textarea>
            </div>

            <div id="brows-options" style="display: none;">
                <h4 class="brown-text text-darken-4 left-align">Brow Options</h4>
                    <select id="brow-type" name="brow_type">
                    <option value="">Select Brow Type</option>
                    <option value="BW">Brow Wax & Tint</option>
                    <option value="BL">Brow lamination</option>
                </select>
                <textarea id="comments" name="notes" placeholder="Add Comments"></textarea>
            </div>

            <div id="both-options" style="display: none;">
            </div>

            <button id="add-treatment-btn" style="display: none;">Add Treatment</button>
            <button type="submit">Add Treatment</button>
        </form>      
    </div>
</div>

{% endblock %}