<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Glam Files</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
                <ul class="right">
                    <a href="{{ url_for('home') }}" class="btn waves-effect waves-light">Login</a>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer brown lighten-1 smaller-footer center-align">
        <div class="container">
          <div class="row valign-wrapper">
            <div class="logo">
              <img src="#" alt="Glam Files Logo">
            </div>
            <nav class="transparent z-depth-0">
              <div class="nav-wrapper">
                <ul class="hide-on-med-and-down right">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Clients</a></li>
                  <li><a href="#">New Client</a></li>
                </ul>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
              </div>
            </nav>
            <ul class="sidenav" id="mobile-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Clients</a></li>
              <li><a href="#">New Client</a></li>
            </ul>
          </div>
        </div>
      </footer>      

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>