{% extends "base.html" %}
{% block content %}

<div class="intro">
    <h3 class="brown-text text-darken-4 center-align">Glam Files</h3>

    <div class="row">
        <div class="col s12 center-align">
            <p>Welcome to GlamFiles! As a beautician, you know that keeping track of your clients' 
                specific beauty needs and preferences is crucial for providing top-notch service. 
                However, relying on scattered notes and memory can be time-consuming and sometimes 
                unreliable. That's why we've created GlamFiles – an online platform where you can 
                easily store and access all the beauty data you need for each of your clients. Join 
                us today and say goodbye to the hassle of managing your clients' information.</p>
        </div>
    </div>
</div>

{% endblock %}