/** base html **/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/static/img/hero_image.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 88.5px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/hero_image.jpg');
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
    z-index: -1;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12vh; 
    z-index: 1000;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.brown.darken-1 {
    background-color: #5C4A56 !important;
}

.logo {
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media only screen and (max-width: 993px) {
    .footer-nav {
        padding: 0 6px;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 4rem;
    }
}

/** background container **/
.highlight {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    border-radius: 0.3rem;
    background-color: rgba(233, 236, 239);
    font-family: Raleway;
}

.container {
    max-width: inherit;
}

/** index page **/

.intro {
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
}

.btn {
    background-color: #383433;
    font-family: Raleway;
}

.btn:hover {
    background-color: #C2FBEF;
    color: #2F4C4F;
}

.hero-text {
    font-family: 'Baskerville', serif;
    color: #C2FBEF;
    text-shadow: 3px 3px 10px #2F4C4F;
    padding-top: 2rem;
}

.intro-container {
    background-color: rgba(233, 236, 239);
}

.intro-p {
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    color: #383433;;
    font-family: Raleway;
}

@media only screen and (min-width: 993px) {
    .container {
        width:90%;
    }
}

/** register **/
label.label-register {
    color: #383433; 
}

input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #C2FBEF;
    -webkit-box-shadow: 0 1px 0 0 #BBB5B2;
    box-shadow: 0 1px 0 0 #2F4C4F;
}

input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
    color: #383433;
}


/** login page **/
.login {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    border-radius: 0.3rem;
    background-color: rgba(233, 236, 239, 0.5);
}

@media only screen and (max-width: 600px) {
    .form-group label {
      font-size: 1.1rem; /* Adjust the font size as desired */
    }

    .form-group {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
  

/** clients page **/
.col .row {
    margin-left: 0;
    margin-right: 0;
}

.clients {
    width: 100%;
}

/** new client **/ 
.titles {
    color: #2F4C4F;
    font-family: Raleway;
    font-size: 1rem;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #2F4C4F;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #2F4C4F;
}

.select-wrapper {
    font-family: Raleway;
}

h3 {
    font-family: Raleway;
}
  
/** error **/
.error {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    border-radius: 0.3rem;
    background-color: #bbb5b28d;
}

/** about us **/

.about-heading {
    color: #5C4A56;
}

.about-p {
    border-radius: 0.3rem;
    color: #383433;
    font-family: Raleway;
    font-size: large;
}

.about-li {
    font-family: Raleway;
    color: #383433;
}